@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*--------------------*/
body {
  background: #F2F2F2;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  font-family: Cuprum, Arial, Helvetica, sans-serif;
  position: relative;
}

.dws-menu {
  background-color: #c7c8ca;
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  box-sizing: border-box;
  z-index: 9999;
  width: 100%;
}

.dws-menu * {
  margin: 0;
  padding: 0;
}

.dws-menu ul,
.dws-menu ol {
  list-style: none;
}

.dws-menu > ul {
  display: flex;
  justify-content: center;
  border-right: 1px solid black;
}

.dws-menu > ul li {
  position: relative;
  border-right: 1px solid #B2B3B5;
  border-left: 1px solid #B2B3B5;
}

.dws-menu > ul li > a i.fa {
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 18px;
}

.dws-menu > ul li a {
  display: block;
  padding: 15px 30px 15px 40px;
  font-size: 14px;
  color: #454547;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.dws-menu li a:hover {
  color: #ffffff;
  box-shadow: 1px 5px 10px -5px black;
  transition: all 0.3s ease;
}

/*sub menu*/
.dws-menu li ul {
  position: absolute;
  min-width: 150px;
  display: none;
}

.dws-menu li > ul li {
  border: 1px solid #c7c8ca;
}

.dws-menu li > ul li a {
  padding: 10px;
  text-transform: none;
  background: #e4e4e5;
}

.dws-menu li > ul li ul {
  position: absolute;
  right: -150px;
  top: 0;
}

.dws-menu li:hover > ul {
  display: block;
}

.bg__img {
  position: relative;
  top: 10px;
  left: 0;
  max-width: 100%;
  height: 660px;
  display: block;
  background: url(../../img/bg.jpg) 0 30px no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.bg__img img {
  float: right;
  margin-top: 50px;
  margin-right: 10px;
  opacity: 0.8;
}

.page1 {
  display: block;
}

.breaking-news {
  display: block;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 30%;
  clear: both;
  position: relative;
}

.breaking-news .bn-title {
  height: 50px;
  width: 25%;
  left: 0;
  top: 0;
  text-align: right;
  padding-right: 60px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #ffb320;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  float: left;
}

.news-ticker {
  background-color: #131313;
  height: 50px;
  line-height: 38px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.tickercontainer {
  height: 38px;
  margin: 0;
  padding-top: 5px;
  overflow: hidden;
}

.tickercontainer .mask {
  position: relative;
  height: 38px;
  overflow: hidden;
}

.breaking-news .bn-title span {
  z-index: 2;
  position: relative;
}
@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.fas {
  margin-right: 15px;
  margin-left: 15px;
}

.newsticker {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.newsticker span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 41s infinite linear;
}

.newsticker span a {
  color: #FFF;
}

.newsticker span img {
  height: 40px;
}
/*# sourceMappingURL=style.css.map */